body {
    margin: 0;
}
.box {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.panel {
    height: 100vh;
    background-color: pink;
}

/* 
// example of pinning a div with scrolltrigger

.div1, .div2 {
    height: 100vh;
}

.div1 {
    background-color: pink;
}
.div2 {
    background-color: #ffffff;
}

.square {
    width: 150px;
    height: 20vh;
    background-color: fuchsia;
}

.square2 {
    width: 150px;
    height: 20vh;
    background-color: green;
} */
